.container {
    margin-top: 40px;
}

label {
    font-weight: 700;
}

.days-selector-item {
    float: left;
    margin-right: 9px;
}

.days-selector-item::last {
    margin-right: 0;
}

.calendar-dates {
    overflow: scroll;
}

.calendar-day {
    border: 1px solid $body-bg;
    padding: 10px;
}

.calendar-day p {
    margin: 0;
    color: #777;
}

.selected {
    background: $purple;
}

.selected p {
    font-weight: 700;
    color: $white;
}
