.clearfix {
    clear: both;
}

.container {
    margin-top: 40px;
}

label {
    font-weight: 700;
}

.days-selector-item {
    float: left;
    margin-right: 9px;
}

.days-selector-item:last-child {
    margin-right: 0;
}

.calendar-month-year {
    float: left;
}

.calendar-controls {
    float: right;
    width: 70px;
}

.calendar-control {
    margin: 2px;
}

.calendar-dates {
    overflow: scroll;
}

.calendar-day {
    border-top: 1px solid #dadada;
    padding: 10px;
}

.calendar-day p {
    margin: 0;
    color: #777;
}

.selected {
    background: $purple;
}

.selected p {
    font-weight: 700;
    color: $white;
}

.btn-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.btn-circle:focus {
    outline: none;
}
